/*Start with header*/

header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
    height: 75px;
    width: 100%;
}
.navbar {
    height: 75px;
    width: 100%;
    background-color: #606030
}

.navbar-toggler-icon {
    color: white;
    z-index: 2;
}

article {
    padding-top: 75px;
}