/*Start with header*/

header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
    
}
.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: #aaffaa;
    border: 0;
}

article {
    padding-top: 75px;
}